* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  font-style: oblique;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  font-style: normal;
}

a:visited {
  color: #555555;
}

abbr {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  border-bottom: none;
  text-decoration: none;
}

body {
  background-color: #ffeeee;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

iframe {
  overflow: hidden;
  display: block;
}

.iframe-embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.iframe-embed-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.iframe-embed-responsive {
  padding-bottom: 56.25%;
}

.nav {
  list-style-type: none;
  background-color: transparent;
  text-align: center;
}

.nav ul {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #888;
  margin: 0px;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.nav li:hover {
  background-color: #d5cfe6;
  color: #111111;
}

.text-shadow {
  text-shadow: -1px 10px 12px #555555;
  color: #000000;
}

.flex-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: transparent;
}

.flex-container > div {
  background-color: transparent;
  margin-left: 75px;
  text-align: center;
}

.flex-container > nav {
  background-color: transparent;
  margin-left: 75px;
  text-align: right;
}

img {
  width: 100px;
  height: 100px;
  -webkit-filter: drop-shadow(-1px 10px 6px #555555);
  filter: drop-shadow(-1px 10px 6px #555555);
}
